<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="historic">
  <div class="row mb-4">
    <div class="col">
      <h1 id="view-title">Transaction History</h1>
    </div>
  </div>
  <%= render partial: "table", locals: { transactions: @transactions } %>
</div>
