<div class="card">
  <h5 class="card-header">Data Protection Notice</h5>
  <div class="card-body">
    <p class="card-title">
      You are about to export data to a location outside of the TCM.
    </p>
    <p class="card-text">
    You are responsible for the secure storage of all customer-related data
    you download.
    You must not share customer-related data with anyone that does not need
    to see it.
    </p>
    <div class="dp-content mt-4">
      <%= content_for :dp_content %>
    </div>
  </div>
</div>
