<div class="panel form-hint password-instructions">Your password must contain a minimum of:
  <ul class="list-bullet">
    <li>8 characters</li>
    <li>1 capital letter</li>
    <li>1 lower-case letter</li>
    <li>1 numeric character</li>
  </ul>
</div>
