<div class="row">
  <div class="col">
    <h1 class="heading">Permit Categories</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Code</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @permit_categories.each do |permit_category| %>
          <tr>
            <td><%= permit_category.code %></td>
            <td><%= permit_category.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
