<% heading = "Sorry, we're experiencing technical difficulties" unless local_assigns.include?(:heading) %>
<% content_for :page_title, make_page_title(heading) + " (#{response.status})" %>
<div class="error-page">
  <div class="row">
    <div class="col">
      <h1 class="heading-large"><%= heading %></h1>
    </div>
  </div>
  <div class="row">
    <div class="message1 col">
      <% if local_assigns.include?(:message1) %>
        <p><%= message1 %></p>
      <% else %>
        <p>Please try again in a few moments.</p>
      <% end %>
    </div>
  </div>
  <div class="row">
  <% if local_assigns.include?(:message2) %>
    <div class="message2 col">
      <p><%= message2 %></p>
    </div>
  <% end %>
  </div>
  <div class="row">
    <div class="return-to-application col">
      <%= link_to 'Return to the application', root_url %>
    </div>
  </div>
</div>
