<% heading = "Sorry, we're experiencing technical difficulties" unless local_assigns.include?(:heading) %>
<% content_for :page_title, make_page_title(heading) + " (#{response.status})" %>
<div class="error-page1 jumbotron">
  <h1 class="display-4"><%= heading %></h1>
  <p class="lead"><%= message1 %></p>
  <% if local_assigns.include?(:message2) %>
    <p><%= message2 %></p>
  <% end %>
  <hr class="my-4">
  <p class="lead">
    <%= link_to 'Return to Home page', root_url,
      class: 'btn btn-primary btn-lg', role: 'button', data: { turbolinks: false } %>
  </p>
</div>
