<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<div class="excluded">
  <div class="row mb-4">
    <div class="col">
      <h1 id="view-title"><%= t(".title") %></h1>
    </div>
  </div>
  <%= render partial: "table", locals: { view_model: @view_model } %>
</div>
