.footer {
  background: theme-color("dark");
  color: theme-color("light");
  margin: 2rem 0;
  padding: 1rem 0;
}

p.app-version {
  color: #555;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
