$text-col: theme-color("dark");
// $help-text-col: theme-color("gray");

.help-text {
  // color: $help-text-col;
  color: $gray-600;
}

.timeline {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.table-sm {
  font-size: 0.85rem;
}

.transaction-summary {
  // dt:after {
  //   content: ":";
  // }

  @include media-breakpoint-up(sm) {
    dt:before {
      content: "";
      display: block;
    }

    dt {
      display: inline-block;
      min-width: 14rem;
      width: 14rem;
      // width: 220px;
      line-height: 1.5em;
      padding: 0.25em 0.5em;
    }

    dd {
      display: inline;

      .form-control {
        display: inline-block;
        width: auto;
      }
    }

    dd:after {
      content: "";
      display: block;
    }
  }
}

.search-bar {
  margin-bottom: 0.75rem;
}

.error-popup a {
  color: #660000;
}

.exclude-button {
  margin-bottom: 0.5em;
  margin-left: 0;
  position: relative;
}

td.exclude-column {
  padding: 0.75rem 0.5rem 0.75rem 0;
}

td.control-column {
  padding-top: 0;
  padding-bottom: 0;
}

tr.excluded {
  color: #aaa;
  text-decoration: line-through;
}

.excluded tr.excluded {
  color: $text-col;
  text-decoration: none;
}

// .exclude-button:checked {
//   margin-top: .25em;
// }

.sortable-header {
  white-space: nowrap;
}

@mixin dot($dot_color) {
  height: 1em;
  width: 1em;
  background-color: $dot_color;
  border-radius: 50%;
  display: inline-block;
}

.green-dot {
  @include dot(#0b0);
}

.amber-dot {
  @include dot(#fb0);
}

.red-dot {
  @include dot(#f00);
}

.tmp-cessation {
  min-width: 3em;
}

.table-sm td a.btn {
  color: $text-col;
  padding: 0 4px;
}
