$text-col: theme-color("dark");
// $help-text-col: theme-color("gray");

.help-text {
  // color: $help-text-col;
  color: $gray-600;
}

.timeline {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.table-sm {
  font-size: 0.85rem;
}

.transaction-summary {
  // dt:after {
  //   content: ":";
  // }

  @include media-breakpoint-up(sm) {
    dt:before {
      content: "";
      display: block;
    }

    dt {
      display: inline-block;
      min-width: 14rem;
      width: 14rem;
      // width: 220px;
      line-height: 1.5em;
      padding: 0.25em 0.5em;
    }

    dd {
      display: inline;

      .form-control {
        display: inline-block;
        width: auto;
      }
    }

    dd:after {
      content: "";
      display: block;
    }
  }
}

.search-bar {
  margin-bottom: 0.75rem;
}

.error-popup a {
  color: #660000;
}

.exclude-button {
  margin-top: 0.75em;
  margin-left: 0;
}

tr.excluded {
  color: #aaa;
  text-decoration: line-through;
}

.excluded tr.excluded {
  color: $text-col;
  text-decoration: none;
}

.exclude-button:checked {
  margin-top: .25em;
}

.sortable-header {
  white-space: nowrap;
}
