.transaction-summary {

  dt:after {
    content: ":";
  }

  @include media-breakpoint-up(sm) {
    dt:before {
      content: "";
      display: block;
    }

    dt {
      display: inline-block;
      min-width: 14rem;
      width: 14rem;
      // width: 220px;
      line-height: 1.5em;
      padding: 0.25em 0.5em;
    }

    dd {
      display: inline;
    }

    dd:after {
      content: "";
      display: block;
    }
  }
}

.search-bar {
  margin-bottom: 0.75rem;
}
