<div class="row mt-4">
  <div class="col">
    <h2>Related unbilled transactions</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= render partial: "#{@regime.to_param}_related_unbilled",
      locals: { transactions: transactions } %>
  </div>
</div>
