<div class="row">
  <div class="col">
    <h1>Transaction detail</h1>
  </div>
</div>
<%= render partial: "detail_summary", locals: { transaction: present_transaction(@transaction) } %>
<%= render partial: "category_form", locals: { transaction: @transaction } %>
<hr />
<% if @related_transactions.count.positive? %>
  <%= render partial: "related_transactions",
    locals: { transactions: @related_transactions } %>
<% end %>
<div class="row">
  <div class="col">
    <%= link_to 'Back to Transactions to be billed',
      regime_transactions_path(@regime) %>
  </div>
</div>
