<div id="skiplink-container">
  <div>
    <a href="#content" class="skiplink">Skip to main content</a>
  </div>
</div>
<header id="header" role="banner">
  <nav class="main-menu navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "Tactical Charging Module", root_path, class: "navbar-brand" %>
  </nav>
</header>
